<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Angular Chicago Demo</span>
  <div class="spacer"></div>
  <div></div>
  <div class="icon-cart" style="clear: left; float: left">
    <div class="total">{{ list.length }}</div>
    <div class="cart-line-1" style="background-color: #fff"></div>
    <div class="cart-line-2" style="background-color: #fff"></div>
    <div class="cart-wheel" style="background-color: #fff"></div>
  </div>
</div>
<div class="content" role="main">
  <h1>Chicago Top Tours & Activities</h1>
  <h2>Tours & Activities</h2>
  <div class="card-container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Chicago Architecture River Cruise</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="https://raw.githubusercontent.com/katesky/angular-chicago/master/src/assets/images/3b.jpg"
        alt="THE CLASSIC"
      />
      <mat-card-content>
        <p>Cruise down the Chicago River to see the city's famous architecture on this boat tour. With commentary from your onboard guide, watch the spectacular skyline glide by, including more than 40 notable buildings like Navy Pier, the Wrigley Building, and the John Hancock Building. Cover all three branches of the Chicago River, passing the East Bank Club, the old Post Office Building and the Willis Tower (formerly known as the Sears Tower).</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
